<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	
	<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<button id="btn" class="btn btn-primary">click me</button>
	<button id="btn2" class="btn btn-warning">good day</button>
	<div class="box" style=" height: 300px;display: none;color: #fff;"></div>

	<script>
		$('#btn').click(function(){
			$.get("/getdata", {hello:"world"}, function(result){
				console.log(result);
				$(".box").html(result['halo']).css('background-color','#21453a').show(500);
				$("#btn").css('height','300').hide(1000);
			});
		})

		$("#btn2").click(function(){
			setInterval(function(){
				$.get("/getdata", {hello:"nice"}, function(result){
				$(".box").html(result['halo']).css('background-color','#ac1234').show(500);
				$("#btn2").css('height','300').hide(1000);
			})
			},1000)
		})

	</script>
</body>
</html>